
	<div class="row">
		<div class="col-md-12">
			<div class="page-header">
				<h3>Preguntas Frecuentes</h3>
			</div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>I. GENERALES  (Introducción)</strong></h4>
			<p><strong>¿Qué es el MUSSI (Modelo Universitario de Supervisión del Sistema Incorporado)?</strong></p><p>
			Es un Sistema que busca una nueva cultura de Supervisión y Evaluación Académica-Administrativa; éste se apega a la Normatividad establecida en la Legislación Universitaria y en Normas y Leyes de carácter nacional e internacional.</p>
			<p>
			El MUSSI se origina con la finalidad de concientizar a que las ISI tengan un papel más activo, crítico, responsable y reflexivo sobre sus condiciones de funcionamiento, y diseñen estrategias que coadyuven a la resolución de problemáticas. De este modo, los procesos cuantitativos y cualitativos (mediante la realización de la Autoevaluación y del Plan de Desarrollo Institucional) contribuirán a que las Escuelas Incorporadas a la UNAM logren o se mantengan en la Calidad Educativa.</p>

			<p><strong>¿En qué consiste el MUSSI?</strong></p>
			<p>
			En verificar que las ISI efectúen las tres tareas sustantivas que marca la Misión de la UNAM: educación, investigación y difusión de la cultura. Es decir, garantizará que la Calidad Educativa se logre a partir del cumplimiento de la Normatividad de la UNAM.</p>
			<p>
			El propósito radica en construir una responsabilidad compartida entre las Escuelas Incorporadas y la DGIRE, a partir de las recomendaciones y asesorías que conduzcan al progreso, avance o mantenimiento de una Escuela de Calidad. En otras palabras, se verificarán los logros alcanzados por la ISI, lo cual permitirá realizar una Supervisión y Evaluación objetivas de la gestión escolar. </p>

			<p><strong> ¿Cómo se fundamenta la construcción de los Indicadores?</p></strong><p>

			La formulación de los Indicadores se basa en los documentos normativos de la UNAM, entre los que se destacan: la Legislación Universitaria, el Reglamento General de Incorporación y Revalidación de Estudios, el Manual de Disposiciones y Procedimientos para el Sistema Incorporado de la UNAM, el Instructivo de Incorporación, los Lineamientos de Trabajo para los Laboratorios, el Manual de Procedimientos de Seguridad en los Laboratorios, Circulares y Comunicados.</p>
			<p>Los Indicadores están clasificados en seis Dimensiones:</p>
			<ul><li>Planta Física
			<li>Organización Académico-Administrativa</li>
			<li>Recursos Materiales</li>
			<li>Recursos Humanos</li>
			<li>Servicios Académicos</li>
			Contexto Social</li></ul>

			<p>A partir de los aspectos normativos, la DGIRE a través de la Coordinación de Supervisión Académica, diseñó un <a href="/documentos/formato_indicador.pdf" target="_blank">Formato para el Análisis y Definición de Indicadores</a>Formato para el Análisis y Definición de Indicadores, el cual está basado en la creación de los Indicadores de Gestión del Ministerio de Educación Nacional de la República de Colombia. </p>
			<p>En el formato se destaca en color verde la información que los Supervisores utilizaron para validar a los Indicadores.</p>

			<p><strong>¿Cuál es la utilidad de la Autoevaluación?</strong></p>
			<p>Facilita el análisis y reflexión de las principales fortalezas y oportunidades de mejora en la gestión escolar; así como de los procesos de enseñanza-aprendizaje que garanticen el cumplimiento de los Planes y Programas de Estudios de la UNAM en cada ISI. Esto lleva a la concientización y al compromiso de promover permanentemente la Calidad Educativa, porque deriva en la creación de Estrategias Institucionales o mecanismos de mejora de resultados y procesos que permitan alinear a los actores y los recursos para el logro del cumplimiento del Marco Estratégico de Referencia; así como con la Normatividad e Indicadores establecidos por la DGIRE-UNAM.</p>

			<p><strong>¿Cuáles son las fases para realizar la Autoevaluación?</strong></p>
			<p>La Autoevaluación se realizará en cuatro fases:</p>


			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingOne">
			      <h4 class="panel-title">
			        <a role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
			          	FASE I. INICIO DE AUTOEVALUACIÓN 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
			      <div class="panel-body">
			        <p>Consiste en concientizar, sensibilizar a los actores de la comunidad educativa en el cumplimiento del Marco Estratégico de Referencia, Normatividad e Indicadores establecidos por la DGIRE-UNAM, con el propósito de desarrollar los Planes y Programas de Estudio de la UNAM y de construir una Escuela de Calidad.</p>
			        <p>	
					Posteriormente, la Dirección Técnica integra el equipo para participar en la realización de la Autoevaluación.
					</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingTwo">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
						FASE II. EJECUCIÓN DE LA AUTOEVALUACIÓN
			        </a>
			      </h4>
			    </div>
			    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
			      <div class="panel-body">
			        <p>La Dirección Técnica y equipo de colaboradores realizarán sesiones de trabajo para revisar las diferentes Dimensiones: Planta Física (PF), Recursos Materiales (RM), Recursos Humanos (RH), Organización Académico-Administrativa (OAA), Servicios Académicos (SA) y Contexto Social (CS).
			        </p>
					<p>En esta Fase se debe garantizar que la realización de la Autoevaluación sea coordinada por la Dirección Técnica o, en su caso, por el Apoderado Legal de la Institución, para verificar por una parte, que los datos sean registrados de manera correcta en el Formato de Control para la Autoevaluación y, por otra, que los resultados obtenidos y la recopilación de evidencias correspondan a la realidad de la Institución.</p><p>
					Como aspecto complementario a la Fase, se diseñan Estrategias Institucionales (utilizar el Formato de Control para la Autoevaluación), que conduzcan al avance y/o cumplimiento de los Indicadores, de acuerdo a la Normatividad y al MUSSI.</p>
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          FASE III. REGISTRO DE LA AUTOEVALUACIÓN 
			        </a>
			      </h4>
			    </div>
			    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p>La Dirección Técnica se encargará de registrar (en plataforma de la DGIRE) la información obtenida de los Indicadores, los cuales se encuentran agrupados en diferentes Dimensiones.</p>

					<p>Los pasos a seguir son: </p>
					<ul>
						<li>Ingresar a la plataforma de la DGIRE y autenticarse como ISI.</li>
						<li>Capturar datos mínimos relacionados con la ISI.</li>
						<li>Registrar Autoevaluación de cada uno de los Indicadores en el plazo asignado por  la DGIRE.</li>
					</ul>
					
				
			      </div>
			    </div>
			  </div>
			  <div class="panel panel-default">
			    <div class="panel-heading" role="tab" id="headingThree">
			      <h4 class="panel-title">
			        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="javascript:;" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
			          FASE IV. RESULTADOS Y SEGUIMIENTO
			        </a>
			      </h4>
			    </div>
			    <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
			      <div class="panel-body">
			        <p>Esta Fase es complementaria a la anterior y la ISI proporcionará evidencias adicionales que le permitan tener claridad sobre sus procesos de crecimiento (antes, durante y después de la realización y aplicación de estrategias) y desarrollo en la gestión escolar.</p>

					<p>El registro de los resultados (evidencias) y seguimiento en la Plataforma de se harán en los tiempos estipulados por la DGIRE, pero se debe considerar que algunos Indicadores podrán activarse en reiterados periodos.</p>
					
				
			      </div>
			    </div>
			  </div>
			</div>

			<p><strong>¿Cuándo se realiza la Autoevaluación?</strong></p>
			<p>Al inicio del ciclo escolar, porque ayuda a conocer el estado actual de la ISI y, como consecuencia, permitirá conducirla o bien mantenerla como una  Escuela de Calidad. </p>
			<p>Sin embargo, se debe considerar que para el siguiente ciclo escolar la ISI ya contará con información previa (Autoevaluación 1) que le señale los aspectos que debe corregir. Por tanto, la captura de los resultados (evidencias) y seguimiento se convertirán en el punto de partida para poner en práctica las estrategias que fueron reestructuradas, las cuales deben mostrar un progreso en el periodo escolar posterior (Autoevaluación 2), el proceso es continuo (Autoevaluación 3).</p>


			<p><strong>¿Qué es la validación de evidencias en la Plataforma de la DGIRE?</strong></p>
			<p>Se refiere a que las evidencias cargadas en la plataforma (respaldo de la Autoevaluación), serán analizadas y estarán sujetas a validación por la Coordinación de Supervisión Académica, mediante: la plataforma, la revisión documental y/o la Supervisión presencial, estas herramientas permitirán a la DGIRE determinar el cumplimiento de los Indicadores y emitir los resultados de la Evaluación.
			</p>

			<p><strong>¿Qué pasa si no registro la Autoevaluación en los periodos establecidos?</strong></p>
			<p>La DGIRE, a través de la plataforma, establece periodos para capturar resultados de la Autoevaluación y cargar evidencias. Al final de cada periodo no se permitirá el acceso a los Indicadores ya cerrados (a excepción de los indicadores de Planta Física, que se encontrarán permanentemente abiertos). Sólo en casos extremos, en los que por causas ajenas a los Directores Técnicos, no se haya podido capturar información en el periodo establecido, podrá solicitarse a la Coordinación de Supervisión Académica una prórroga para realizar los registros necesarios. </p>

			<p><strong>¿Qué características deben cumplir los archivos que se envían como evidencias?</strong></p>
			<p>Los archivos que se carguen en la plataforma de la DGIRE como evidencia de los Indicadores, deberán estar en formato PDF o Word, y no podrán rebasar un tamaño de 5 MB.</p>

			<p><strong>¿Por qué debo proporcionar los datos de la autoevaluación a la DGIRE?</strong></p>
			<p>El análisis de los resultados de la Autoevaluación, Diseño de Estrategias y de los avances reportados por las ISI, serán elementos que permitan a la DGIRE, a través de la Coordinación de Supervisión Académica, realizar la Evaluación anual, con la finalidad de otorgar la Renovación de la Incorporación. Asimismo, es importante conocer el proceso de cada ISI, con el fin de asesorar en los casos necesarios y llevar a las escuelas a la Calidad Educativa.</p>


			<p><strong>¿Cómo y cuándo puedo conocer los resultados de la Evaluación a los Indicadores?</strong></p>
			<p>Después de cada periodo de registro de Autoevaluación y avances, la Coordinación de Supervisión Académica proporcionará retroalimentación de cada dimensión.
			Los resultados de la Evaluación, a partir de los cuales se otorgará la Renovación de la Incorporación,  se darán a conocer antes del inicio de cada ciclo escolar, por medio de un oficio. </p>

			<p><strong>¿Cómo se determina el cumplimiento de los Indicadores y de las Dimensiones?</strong></p>
			<p>La DGIRE, a través de la Coordinación de Supervisión Académica, determinará el cumplimiento de los Indicadores con base en los siguientes elementos:</p>
			<ol>
				<li>El registro en plataforma del estado actual en el que se encuentra la ISI, al momento de realizar la  Autoevaluación, sustentado por sus correspondientes evidencias.</li>
				<li>El reporte de avances en los periodos establecidos para cada Dimensión en la plataforma de la DGIRE.</li>
				<li>El análisis, seguimiento, Supervisión y evaluación de los procesos que llevan a cabo las ISI, a fin de alcanzar el cumplimiento de los Indicadores. </li>
			</ol>

		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>II. ORGANIZACIÓN ACADÉMICA-ADMINISTRATIVA (OAA)</strong></h4>
			<p><strong>¿Qué importancia tiene la firma o rúbrica del Director Técnico en documentos académicos-administrativos?</strong></p>
			<p>La firma asentada por la Dirección Técnica en documentos de carácter académico-administrativo, ratifican que éstos cumplen con la Normatividad y especificaciones solicitadas por la DGIRE hacia las ISI, motivo por el cual se hace hincapié en que los documentos sean perfectamente revisados, a fin  de evitar que existan omisiones e inconsistencias, ya que la firma o rúbrica de la Dirección Técnica le responsabiliza de toda situación asertiva o anómala.</p>

			<p>¿En qué momento se debe solicitar el Plan de recuperación de las Planeaciones Didácticas?</p>
			<p>Existen dos causas por las que la Dirección Técnica debe solicitar Plan de recuperación:</p>
			<ol>
				<li>Cuando por alguna causa el profesor o la ISI decidan terminar con la prestación de servicios educativos; el docente sustituto o de nuevo ingreso tendrá que realizar el plan de recuperación de las clases que no fueron proporcionadas a los estudiantes.</li>
				<li>Cuando el profesor titular, por cualquier causa, se haya atrasado en la impartición de temas.</li>
			</ol>
			
			<p>¿Dónde se puede consultar información que asesore en la realización del Plan de Trabajo de Biblioteca?</p>
			<p>Ingrese al siguiente vínculo: <a href="http://www.dgire.unam.mx/contenido/bibliotecas/index.html" target="_blank">http://www.dgire.unam.mx/contenido/bibliotecas/index.html</a>; para encontrar información necesaria que permita instruirle en el buen funcionamiento de la Biblioteca de la ISI.</p>

		</div>
	</div>
	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>III. RECURSOS MATERIALES (RM)</strong></h4>
			
			<p><strong>¿Las donaciones se pueden considerar dentro del acervo?</strong></p>
			<p>Sí, siempre y cuando sean suficientes, pertinentes y actualizadas. Se deben descartar (rechazar o desechar) los que no cumple con las condiciones  anteriores.</p>

			<p><strong>¿Qué sucede si tengo el catálogo en fichero y no automatizado?</strong></p>
			<p>Paulatinamente el catalogo se deberá convertir a una versión automatizada. El uso de las TIC en la Biblioteca, se considera una competencia digital y forma parte de las competencias informativas que facilitan el acceso a la información. El catálogo automatizado facilita, por una parte, la elaboración rápida de bibliografías que se almacenan en dispositivos electrónicos o se envían por Internet y, por otra, para citar en trabajos escolares.</p>


			<p><strong>¿Puedo contar con todos los servicios de Biblioteca, pero no tener préstamo a domicilio o condicionarlo?</strong></p>
			<p>Es obligatorio tener préstamos a domicilio, debido a que es uno de los servicios que apoyan el proceso de enseñanza-aprendizaje.</p>

			<p><strong>¿En el área académica-administrativa los programas de Software de cómputo, pueden ser sustituidos por  los que están en línea de forma gratuita?</strong></p>
			<p>No. Los softwares gratuitos no subsanan las necesidades de los Planes y Programas de Estudios del CCH y tampoco son compatibles con la plataforma de la DGIRE.</p>


			<p><strong>¿El servicio de enfermería puede sustituirse por el acceso a un hospital o clínica de salud cercana a la ISI?</strong></p>

			<p>No puede ser sustituida, ya que este servicio es necesario para salvaguardar la integridad física de los miembros de la comunidad. Hay que recordar que los servicios de Atención Médica de Primer Nivel representan un medio para la conservación y protección de la salud. </p>


			<p><strong>¿La ISI puede tener  equipos adicionales a los señalados en la Normatividad, para proporcionar Atención Médica de Primer Nivel?</strong></p>
			<p>Sí, siempre y cuando la persona o personas encargadas de la Atención Médica de Primer Nivel estén profesionalmente acreditadas, tengan la autorización correspondiente y la preparación para la utilización de los equipos.</p>

			<p><strong>¿La cantidad total de recursos que se especifica en el listado de materiales mínimos puede variar dependiendo de la matrícula que se tiene?</strong></p>
			<p>Es importante recordar que la cantidad de recursos que se solicita está normado de acuerdo con lo establecido en los Lineamientos para el Desarrollo  de  Prácticas en las Asignaturas Teórico-Prácticas (ENP) y Experimentales (CCH) del Bachillerato, considerando que el máximo de alumnos por grupo es de 25; por lo tanto, no debe variar. (Existen laboratorios que cuentan con áreas menores a los 25 metros y están autorizados para funcionar siempre y cuando se respete la ocupación en razón de 2m2 por alumno.</p>

			<p><strong>¿Cómo se puede determinar la cantidad de recursos mínimos de Laboratorio para la matrícula usuaria?</strong></p>
			<p>Para establecer la cantidad de recursos es necesario considerar el  total de los mínimos establecidos por la DGIRE, los cuales representan el 100%; posteriormente la ISI debe contabilizar el total de materiales con los que cuenta y con la información obtenida, se debe realizar una regla de tres. Por ejemplo:
			</p><p>
			La cantidad de sustancias químicas del Plan de Estudios del CCH (Química I y II) es de 57, éstas representan el 100%, pero mi Institución sólo tiene 35 sustancias. Por lo tanto,  debo multiplicar 35 X 100 y dividir entre 57,  el resultado es 61.40%, el cual representa la cantidad de material con que cuento, por lo que el faltante está representado por el 38.60%.</p>
			<p>En caso de que la matrícula sea mayor, la Institución deberá completar el material faltante para cubrir el número de equipos de trabajo. </p>

			<p><strong>¿Si tengo otros equipos que no son los señalados en los mínimos, pueden ser tomados en cuenta para no adquirir los que se señalan en la Normatividad?</strong></p>
			<p>Tener otros equipos fuera de los señalados por la DGIRE no exime a la Institución de contar con ellos; sin embargo, pueden mejorar la Calidad Educativa e incrementar el nivel de las prácticas a realizar.</p>

			<p><strong>¿El trabajo en el laboratorio puede hacer uso de la microescala, independientemente de la matrícula usuaria?</strong></p>
			<p>Sí, puede utilizarse la microescala, siempre y cuando la Institución adquiera los instrumentos necesarios (equipos, aparatos y sustancias, entre otros).</p>

			<p><strong>¿Sí los recursos de los laboratorios se encuentran dañados pueden ser tomados en cuenta para cuantificar el material en los inventarios?</strong></p>
			<p>No pueden tomarse en cuenta los recursos de laboratorio dañados, es necesario que éstos se encuentren en óptimas condiciones. Los materiales preservados y las preparaciones fijas deben tener mantenimiento constante.</p>


			<p><strong>¿El material biológico preservado y las preparaciones fijas o laminillas pueden ser elaborados por el personal de la Institución?</strong></p>
			<p>Sí, pueden ser elaboradas por el personal de la Institución, siempre y cuando se encuentre capacitado y cuente con el tiempo y recursos para la realización de estas actividades.</p>

			<p><strong>¿Qué personas pueden realizar el mantenimiento a los instrumentos de laboratorio y al material biológico?</strong></p>
			<p>Personas físicas, empresas o responsables de laboratorio que se encuentren capacitadas para realizar el mantenimiento de éstos y que generen un comprobante de esta actividad.</p>


			<p><strong>¿En qué sitio de la Red puedo encontrar empresas autorizadas o personas físicas que se dediquen al manejo de residuos?</strong></p>

			<p>En el portal de la SEMARNAT existe un listado de empresas que ofertan este servicio y se puede consultar en: <a target="_blank" href=" http://tramites.semarnat.gob.mx/index.php/empresas-autorizadas"> http://tramites.semarnat.gob.mx/index.php/empresas-autorizadas</a> </p>


			<p><strong>En la a localidad  donde se encuentra la ISI, no hay Empresas o Personas Físicas dedicadas al manejos de residuos. ¿Qué se debe hacer para cumplir con el requisito antes expuesto?</strong></p>
			<p>Si en su localidad no existe una empresa autorizada debe hacer lo siguiente: verificar la existencia de algún Laboratorio, Universidad o Empresa que genere residuos peligrosos para investigar el nombre de la empresa que proporciona tratamiento a los deshechos. De este modo se pueden contratar sus servicios o bien considerar un contrato colectivo.</p>

			<p><strong>¿Dónde se pueden consultar las Hojas de Seguridad de las sustancias que se utilizan en el laboratorio?</strong></p>
			<p>Las empresas que venden los materiales y equipos de laboratorio están obligadas a proporcionar estas Hojas de Seguridad.
			Existen varios sitios en la red que permiten un rápido acceso a las Hojas de Seguridad de las sustancias, tecleando “hoja de seguridad y el nombre de la sustancia”.</p>

			<p><strong>¿Cuáles son los elementos que debe contener la Hoja de Seguridad?</strong></p>
			<p>De acuerdo al Centro de Orientación para la Atención de Emergencias Ambientales (COATEA), de la Procuraduría Federal de Protección al Ambiente (PROFEPA) <a target="_blank" href="http://www.profepa.gob.mx/innovaportal/file/212/1/HDS.pdf">http://www.profepa.gob.mx/innovaportal/file/212/1/HDS.pdf</a>  son: </p>
			<ol>
				<li>Identificación del fabricante y de la substancia química.</li>
				<li>Composición, información sobre ingredientes.</li>
				<li>Identificación de riesgos.</li>
				<li>Primeros auxilios.</li>
				<li>Combate de incendios.</li>
				<li>Liberaciones accidentales.</li>
				<li>Manejo y almacenaje.</li>
				<li>Controles de exposición, protección personal.</li>
				<li>Propiedades físicas y químicas.</li>
				<li>Estabilidad y reactividad.</li>
				<li>Información toxicológica.</li>
				<li>Información ecológica.</li>
				<li>Consideraciones sobre la disposición</li>
				<li>Información sobre el transporte.</li>
				<li>Información sobre reglamentación.</li>
				<li>Otra información.</li>
			</ol>

<p><strong>¿El responsable de Laboratorio debe elaborar sus propias Hojas de Seguridad con la información que hay en la Web?</strong></p>
<p>No es necesario que el responsable las elabore; sin embargo, depende de las políticas de cada Institución, del perfil profesiográfico y de la iniciativa del mismo.</p>

<p><strong>¿Las sustancias se pueden clasificar de acuerdo a otros criterios establecidos por Instituciones Públicas y/o Particulares?</strong></p>
<p>La clasificación debe realizarse de acuerdo a la Normatividad del Manual de Procedimientos de Seguridad en los Laboratorios de la UNAM; sin embargo, pueden existir otros criterios para clasificar las sustancias, pero éstos deben estar normados y autorizados por la DGIRE.
</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>IV. RECURSOS HUMANOS (RH)</strong></h4>

			<p><strong>¿Qué tipos de capacitación y actualización pueden tomar docentes y administrativos?</strong></p>

			<p>La capacitación y actualización puede llevarse a cabo dentro de las siguientes áreas:
			Para docentes: Pedagógica, Especialización dentro de su área de conocimiento y en Tecnologías de la Comunicación e Informática.
			Para administrativos: Pedagógica, Gestión y Liderazgo, Especialización dentro de su área de conocimiento y en Tecnologías de la Comunicación e Informática.</p>

			<p><strong>¿Dónde se puede solicitar el Curso de Inducción para Directores Técnicos?</strong></p>
			<p>El Curso se debe solicitar en Control Docente previa publicación de la convocatoria.</p>

			<p>¿Cuáles son las áreas de capacitación que orientan a los responsables de las ISI en sus funciones directivas?</p>
			<p>El Director Técnico deberá capacitarse o actualizarse en las siguientes áreas: disciplinar, metodológicas, didáctica de su especialidad o de tecnologías de la información aplicadas al aula.</p>
			<p>Adicionalmente, de acuerdo con las funciones que desempeña, podría también tomar cursos relacionados con aspectos administrativos (ya sea educativos o generales) de las instituciones. </p>

			<p><strong>¿La capacitación del Director se puede realizar en otra Institución?</strong></p>
			<p>Para mayor información sobre las alternativas de capacitación o actualización docente que ofrece la DGIRE, deberán comunicarse a la Coordinación de Educación Continua, mientras que para la consulta sobre opciones en instancias externas, la comunicación deberá realizarse con el Departamento de Control Docente de la DGIRE. </p>

			<p><strong>¿Por qué se recomienda contar con un Coordinador Académico General de Materia o Área?</strong></p>
			<p>Porque ayuda en el desarrollo de las actividades Académicas a la Dirección Técnica, a fin de garantizar la prestación de un servicio de Calidad Educativa.</p>

			<p><strong>¿Por qué es recomendable contar con maestros de tiempo completo?</strong></p>
			<p>Para ayudar a detectar problemáticas escolares que estén deteniendo la Calidad Educativa.</p>

			<p><strong>¿Por qué es importante que el responsable de Enfermería permanezca durante todo el horario escolar?</strong></p>
			<p>Para proporcionar la Atención Médica de Primer Nivel a la población escolar, evitando de esta manera poner en riesgo la vida de la comunidad educativa y a su vez promover los proyectos de vida saludable.</p>
			
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>V. SERVICIOS ACADÉMICOS (SA)</strong></h4>
			<p><strong>¿Qué tipo de empresas y/o instituciones son recomendables para realizar convenios que permitan a la ISI enriquecer su labor educativa?	</strong></p>
			<p>Instituciones con las cuales se puedan establecer vínculos que ayuden a la ISI a llevar más allá de sus instalaciones la labor educativa y enriquezcan los ámbitos cultural, académico y deportivo. Es recomendable establecer convenios con otras Instituciones Educativas Nacionales e Internacionales; Instituciones dedicadas a la investigación, a la cultura o al deporte; empresas públicas, privadas y de asociación civil;  Bibliotecas; Laboratorios; Parques ecológicos; Museos, entre otros.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12 text-justify">
			<h4 class="text-info"><strong>VI. CONTEXTO SOCIAL (CS)</strong></h4>
			<p><strong>¿Cuántos proyectos se deben realizar en la ISI para el cumplimiento de la Dimensión de Contexto Social?</strong></p>
			<p>Es importante aclarar que la Evaluación de esta Dimensión no se basará en la cantidad de proyectos, sino en la calidad de éstos. Los proyectos se evaluarán de acuerdo a su planeación como parte del proyecto educativo de la ISI, al seguimiento, evolución e importancia dentro de la comunidad educativa y de los diferentes contextos con los que se relaciona y/o involucra.</p>

			<p>De lo anterior, se reitera que la ISI debe contar con al menos un Proyecto que subsane las especificaciones de cada Indicador. De este modo, la Dimensión de Contexto Social, estará completa. </p>
		</div>
	</div>