<div class="content"> 		
	
		<div class="row">
			<div class="col m6 offset-m2 s12" ng-controller="ForgotController">		
			    <span>Olvidaste tu contraseña, ingresa tu correo electrónico</span>
				 
			     <form angular-validator-submit="doForgotCode()" angular-validator role="form" name="forgotForm" novalidate>

					<div class="input-field">
						<i class="mdi-content-mail prefix"></i>
					    <input type="email" 
					    	class="validate" 
					    	ng-model="userName"
							invalid-message="'Formato incorrecto de email'"
		                    required-message="'Campo requerido'"
		                    required        				    	
							id="email" 
							name="email"
							validate-on="dirty"
					    	/>
					   	<!--<label for="email">Correo electrónico*</label>-->
					   	<p> Te enviaremos un correo electrónico con los pasos a seguir para recuperar tu contraseña</p>
					   	<button type="submit" id="forgotsubmit" class="btn btn-block btn-success">Recuperar contraseña</button>
				</form>
			</div>
			
		</div>
		
</div>